<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "friends", "bootstrap", :media => "all" %>
  <%= javascript_include_tag "friends", "bootstrap", "jquery", "rails" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
