<% content_for :title do %>Add product<% end %>

<div id="wrapper">
	<h3><%= @product.name %></h3>
	<ul>
		<li>Product ID: <%= @product.id %></li>
		<li>Product price: <%= @product.pricing %></li>
		<li>Product description: <%= @product.description %></li>
		<li>Product category: <%= @category.name %></li>
	</ul>
</div>
