<% content_for :title do %>Home<% end %>

<div id="wrapper">
	<h3>Welcome, <%= @user.first_name %></h3>
	<h4>You have <a href="users/show"><%= @friends1.count + @friends2.count %> friends</a></h4>
	
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	
	<p>Notification:</p>
	<table id="noti">
		<% @invites.each do |invite| %>	
			<tr>
				<td><%= invite.user.first_name + " " + invite.user.last_name %></td>
				<td><%= link_to 'Accept', friendship_path(invite), :method => :put %></td>
				<td>
					<%= link_to 'Ignore', friendship_path(invite), :method => :delete,
					confirm: 'Are you sure you want to delete friend invite?' %>
				</td>
			</tr>
		<% end %>
	</table>

	<p>People you may want to add as friend</p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @others.each do |other_user| %>
			<tr>
				<td><%= other_user.first_name + " " + other_user.last_name %></td>
				<td><%= other_user.email %></td>
				<td>
					<%= link_to 'Add as Friend', { :controller => "friendships", :action => "create", :friend_id => other_user.id }, :method => :post %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>