<% content_for :title do %>Add a new user<% end %>

<div id="wrapper">
	<h3>Edit user #<%= @user.id %></h3>
	<%= simple_form_for @user do |f| %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
		<%= f.button :submit, :class => "btn btn-primary" %>
	<% end %>
</div>