<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "comments", "bootstrap", :media => "all" %>
  <%= javascript_include_tag "comments", "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<ul class="nav navbar-nav">
		<li><a href="/products">Home</a></li>
		<li><a href="/comments">Comments Dashboard</a></li>
	</ul>
</nav>

<%= yield %>

</body>
</html>